[
    [
      client_name: 'client1',
      client_slack_url: 'TOA32423/SAD12321/sadasdasddfsfsdf',
      client_slack_channel: 'client1',
      github_rails: 'client1',
      redis_port: '6405',
      path_to_tests_prod: [
        [prod: 'client1_prod'],
        [prod: 'client1_prod_elc'],
        ],
      path_to_tests_qa: [
        [qa: 'client1_qa'],
        [qa: 'client1_qa_elc'],
        ],
      tagger_cron_time: 'H(1-15) 2 * * 1-5',
      deployment_qa_r5: true,
      deployment_prod_r5: true,
    ],
    [
      client_name: 'client2',
      client_slack_url: 'TOA32423/SAD12321/sadasdasddfsfsdf',
      client_slack_channel: 'client2',
      github_rails: 'client2',
      redis_port: '6393',
      path_to_tests_prod: [
        [prod: 'client2_prod'],
        ],
      path_to_tests_qa: [
        [dev: 'client2_qa'],
        [test: 'client2_qa'],
        [release: 'client2_qa'],
        [qa: 'client2_qa']
        ],
      tagger_cron_time: 'H(1-15) 2 * * 1-5',
      deployment_qa_r5: true,
      deployment_prod_r5: true,
      target_rails_env: ['none', 'dev', 'test', 'qa', 'release', 'dev-hana', 'test-hana'],
    ],
    [
      client_name: 'client3',
      client_slack_url: 'TOA32423/SAD12321/sadasdasddfsfsdf',
      client_slack_channel: 'client3',
      github_rails: 'client33',
      redis_port: '6391',
      path_to_tests_prod: [
        [prod: 'client3_prod'],
        ],
      path_to_tests_qa: [
        [dev: 'client3_qa'],
        [test: 'client3_qa'],
        [release: 'client3_qa'],
        [qa: 'client3_qa']
        ],
      tagger_cron_time: 'H(1-15) 2 * * 1-5',
      deployment_qa_r5: true,
      deployment_prod_r5: true,
    ],
    [
      client_name: 'client4',
      github_rails: 'client4',
      redis_port: '6402',
      client_slack_url: 'TOA32423/SAD12321/sadasdasddfsfsdf',
      client_slack_channel: 'client4',
      path_to_tests_prod: [
        [prod: 'client4_prod'],
        ],
      path_to_tests_qa: [
        [dev: 'client4_qa'],
        [test: 'client4_qa'],
        [release: 'client4_qa'],
        [qa: 'client4_qa']
        ],
      tagger_cron_time: 'H(1-15) 2 * * 1-5',
      deployment_qa_r5: true,
      deployment_prod_r5: true,
    ],
    [
      client_name: 'client6',
      client_slack_url: 'TOA32423/SAD12321/sadasdasddfsfsdf',
      client_slack_channel: 'client6-intec',
      github_rails: 'client6',
      redis_port: '6404',
      path_to_tests_prod: [
        [prod: 'client6_prod'],
        ],
      path_to_tests_qa: [
        [dev: 'client6_qa'],
        [test: 'client6_qa'],
        [release: 'client6_qa'],
        [qa: 'client6_qa']
        ],
      tagger_cron_time: 'H(1-15) 2 * * 1-5',
      deployment_qa_r5: true,
      deployment_prod_r5: true,
    ],
]
